    body{
    background-color: rgb(226, 185, 145)
    }
   TABLE {
    border-collapse: collapse; /* Убираем двойные линии между ячейками */
    width: 100px; /* Ширина таблицы */
    margin-top: 10px;

   }
   TH {
    background: lavender; /* Цвет фона ячейки */
    text-align: center; /* Выравнивание по левому краю */

   }
   TD {
    background: #fff; /* Цвет фона ячеек */
    text-align: center; /* Выравнивание по центру */
   }
   TH, TD {
    border: 1px solid black; /* Параметры рамки */
    padding: 4px; /* Поля вокруг текста */
   }
   input{
   border: 1px solid black;
   }
   select{
   border: 1px solid black;
   }
   button{
   border: 1px solid black;
   }
