 body {
     background-color: rgb(226, 185, 145);
 }

 TABLE {
     border-collapse: collapse;

     margin-top: 5px;
         table-layout: fixed;
    width:100%
 }

 TH {
     background: lavender;
     text-align: center;

 }

 TD {
     background: #fff;
     /* Цвет фона ячеек */
     text-align: center;
     /* Выравнивание по центру */
     word-wrap:break-word;
 }

 TH,
 TD {
     border: 1px solid black;
     /* Параметры рамки */
     padding: 10px;
     /* Поля вокруг текста */

 }

 input {
     border: 1px solid black;
 }

 select {
     border: 1px solid black;
 }
