{% extends 'base.html' %}

{% block title %}
Регистрация
{% endblock %}

{% block css %}
href = "{{url_for('static', filename='css/registr.css')}}"
{% endblock %}

{% block body %}

<div class="ll" style="width: 50%; margin: 0 auto; text-align: center;">
  <img class="img-reg" src="./static/img/fon-reg.png" alt="IMG">
  <form action="/insert" id="msform" method="POST">
    <fieldset style="border:0;">
      <h1 class="fs-title">Создание аккаунта</h1>
      <input class="lol" type="text" name="login" placeholder="ваш логин" />
      <input class="lol" type="password" name="pass" placeholder="пароль" />
      <input class="lol" type="password" name="cpass" placeholder="повторите пароль" />
      <input value="Создать" name="insert" type="submit" class="next action-button" />
    </fieldset>
  </form>
  <div class="register">
    <a href="/auth">Если есть аккаунта, авторизуйтесь</a>
  </div>
</div>

{% for message in get_flashed_messages() %}
<p>{{message}}</p>
{% endfor %}
{% endblock %}